{{ partial "base" . }}
{{ partial "header" . }}


<div class="colour-content" style="background-image: url(/img/stamp.jpg); background-size: cover; background-color: #f0cad0;">
    <div class="wrap">
    <h1>About</h1>
</div>
</div>


<div class="colour-content" style="background-color: #e1dddc;">
<div class="wrap">
    <h2>懐かしい</h2>
    <p>Beauty is easy to find in Japan. Temples, gardens, mountain ranges, seas, forests, architecture, and traditional design styles make for a wealth of things to admire. But there's also beauty to be found in more unexpected places too - <a href="/manhoru/">manhole covers</a>, <a href="/ekistampu/">stamps</a> at train stations, and more.</p>

    <p>"<b>Natsukashii</b>" is one of those wonderful words that doesn't translate well into English. You'll find it commonly explained as '<i>dear, desired, missed</i>', or likened to the concept of nostaligia, but it's more than that. It's a warm yearning, prompted by something that you've seen, heard, or felt.</p>

    <p>I started this site to showcase some of those little details. To illustrate them, add animation where possible to bring them to life, and to share some stories from visiting them. Through finding and recreating my photos, I have a chance to revisit happy memories, and to hopefully encourage others to make their own.</p>
</div>
</div>

<div class="colour-content" style="background-color: #445968;">
    <div class="wrap lighttext">
        <h2>About me</h2>
        <p>My name's Sally. I grew up in Indonesia, now live in the UK, and love to travel all over the world. I've spent over a decade making trips specifically to explore Japan, and it has grown to be a huge part of my life.</p>

        <p>When I'm not capturing memories, I work as a digital transformation consultant and help organisations from big to small to work better with the web. You can find out more about this at <a href="https://recordssoundthesame.com">recordssoundthesame.com</a>, <a href="https://sallylait.com">sallylait.com</a>, or if you'd like to get in touch I tweet using <a href="https://twitter.com/sallylait">@sallylait</a>.</p>
    </div>
</div>

<div class="footer">
    All site content &copy; Sally Lait 👩🏻‍💻
</div>

{{ partial "footer" . }}
