{{ partial "base" . }}
{{ partial "header" . }}

<script type="text/javascript">
    $(document).ready(function() {
        $('#fullpage').fullpage({
            autoScrolling: false,
            css3: true,
            sectionsColor: ['#B97375'],
            fitToSection: false
        });
    });
</script>

    <div id="fullpage">
    	<div class="section lighttext home" id="section0">
                <div class="wrap">
                    <img src="/img/homebg.svg" class="home-img" />
                    <h1>懐かしい</h1>
                    <h2>natsukashii</h2>
                    <h3>Warm feelings of being taken back to a moment in the past</h3>
                    <p>A site by <a href="https://sallylait.com">Sally Lait</a>, created to capture some illustrated memories of places in Japan</p>
                </div>
    		</div>
    	</div>
    </div>

{{ partial "footer" . }}
