<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}Natsukashii</title>
    <meta name="description" content="Illustrated memories of Japan, captured through manholes and train stamps">
    <meta name="keywords"  content="japan, sally, lait, illustration, natsukashii, 懐かしい, なつかしい, manholes, manhoru, eki stampu, stamps" />
    <meta name="author" content="Sally Lait">
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@sallylait" />
    <meta name="twitter:creator" content="@sallylait" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}Natsukashii{{ end }}" />
    <meta property="og:image" content="https://natsukashii.art/img/ootsukishi.png" />

    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#0a517c">
    <meta name="msapplication-TileColor" content="#efcacf">
    <meta name="theme-color" content="#efcacf">

    <link rel="manifest" href="/manifest.json?v=s1.00">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/master.css" />

    <!--[if IE]>
        <script type="text/javascript">
             var console = { log: function() {} };
        </script>
    <![endif]-->

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/scrolloverflow.js"></script>
    <script type="text/javascript" src="/js/jquery.fullpage.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2631465-8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-2631465-8');
    </script>

</head>
<body>
