{{ partial "base" . }}
{{ partial "header" . }}

<script type="text/javascript">
    $(document).ready(function() {
        var navheight = $('#header').height();
        $('#fullpage').fullpage({
            anchors: ['id'],
            autoScrolling: false,
            sectionsColor: ['#B97375'],
            fitToSection: false,
            paddingTop: navheight
        });
    });
</script>

    <div id="fullpage">
    	<div class="section" id="section0">
            {{ range .Data.Pages.ByDate }}
    		<div class="slide" style="background-color: {{.Params.bgcolour}};">
                <div class="illustration-holder">{{ partial .Params.Illustration . }}</div>
                <h1 class="{{.Params.textcolour}}" lang="ja">{{.Title}}</h1>
                <h2 class="{{.Params.textcolour}}">{{.Params.Engname}}</h2>
                {{if eq .Params.moreinfo true}}<p style="margin-top:2.5em;"><a href="{{ .Permalink }}" class="btn">Read more</a></p>{{ end }}
    		</div>
            {{ end }}
    	</div>
    </div>

    <!--
    <div class="wrap">
    	Page content here
    </div>-->

{{ partial "footer" . }}
