{{ partial "base" . }}
{{ partial "header" . }}

<script type="text/javascript">
    $(document).ready(function() {
        $('#fullpage').fullpage({
            anchors: ['id'],
            autoScrolling: false,
            fitToSection: false
        });
    });
</script>

    <div id="fullpage">
    	<div class="section" id="section0">
            {{ range .Data.Pages }}
    		<div class="slide" style="background-color: {{.Params.bgcolour}};">
                <div class="illustration-holder">{{ partial .Params.Illustration . }}</div>
                <h1>{{.Title}}</h1>
                <h2>{{.Params.Engname}}</h2>
                <p style="margin-top:2.5em;"><a href="{{ .Permalink }}" class="btn">See more</a></p>
    		</div>
            {{ end }}
    	</div>
    </div>

    <!--
    <div class="wrap">
    	Page content here
    </div>-->

{{ partial "footer" . }}
