{{ partial "base" . }}
{{ partial "header" . }}

<script type="text/javascript">
    $(document).ready(function() {
        $('#fullpage').fullpage({
            anchors: ['id'],
            autoScrolling: false,
            sectionsColor: ['#B97375'],
            fitToSection: false
        });
    });
</script>

    <div id="fullpage">
    	<div class="section" id="section0">

            <h1>{{.Title}}</h1>
            <h2>Coming soon...</h2>

    	</div>
    </div>

    <!--
    <div class="wrap">
    	Page content here
    </div>-->

{{ partial "footer" . }}
