svg {
    display: block;
    margin: 0 auto;
}

/*Naniwa-ku */
.falldown {
animation: sizechange 3s normal infinite;
}
.spinl1 {
animation: swirlyl1 3s normal infinite;
}
.spinl2 {
animation: swirlyl2 3s normal infinite;
}
.spinr1 {
animation: swirlyr1 3s normal infinite;
}
.spinr2 {
animation: swirlyr2 3s normal infinite;
}
.bgfade {
animation: bgfader 3s normal infinite;
}
.fadein {
    animation: kffadein 7s normal infinite;
}
.delay1 {
animation-delay: 0.2s;
}
.delay2 {
animation-delay: 0.5s;
}
.delay3 {
animation-delay: 0.8s;
}

@keyframes sizechange {
0% {
transform: scale(1.0);
opacity: 1;
}
70% {
  opacity: 0.7;
}
80% {
  opacity: 0.2;
}
100% {
transform: scale(1.5);
opacity: 0;
}
}
@keyframes swirlyl1 {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(45deg);
}
}
@keyframes swirlyl2 {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(65deg);
}
}

@keyframes swirlyr1 {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(-15deg);
}
}

@keyframes swirlyr2 {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(-25deg);
}
}

@keyframes bgfader {
    0% {
    opacity: 1;
    }

    100% {
    opacity: 0;
    }
}

@keyframes kffadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Ootsukishi*/
.water {
animation: slightmove 2s alternate infinite;
}

.cloud {
animation: cloudmove1 15s alternate infinite;
}

.cloud2 {
animation: cloudmove2 10s alternate infinite;
}


@keyframes slightmove {
    0% {
        transform: rotate(0deg);
    }
    70% {
      opacity: 0.7;
      -webkit-filter: hue-rotate(90deg);
      filter: hue-rotate(90deg);
    }
    100% {
        transform: rotate(0.5deg);
    }
}


@keyframes cloudmove1 {
    50% {
      opacity: 0.7;
      transform: translate(-75px);
    }
    100% {
      transform: translate(25px);
    }
}

@keyframes cloudmove2 {
    0% {

    }
    70% {
      opacity: 0.7;
    }
    100% {
        transform: translate(30px);
    }
}
