svg {
    display: block;
    margin: 0 auto;
}

/*Naniwa-ku */
.falldown {
animation: sizechange 3s normal infinite;
}
.spinl1 {
animation: swirlyl1 3s normal infinite;
}
.spinl2 {
animation: swirlyl2 3s normal infinite;
}
.spinr1 {
animation: swirlyr1 3s normal infinite;
}
.spinr2 {
animation: swirlyr2 3s normal infinite;
}
.bgfade {
animation: bgfader 3s normal infinite;
}
.fadein {
    animation: kffadein 7s normal infinite;
}
.delay1 {
animation-delay: 0.2s;
}
.delay2 {
animation-delay: 0.5s;
}
.delay3 {
animation-delay: 0.8s;
}

@keyframes sizechange {
0% {
transform: scale(1.0);
opacity: 1;
}
70% {
  opacity: 0.7;
}
80% {
  opacity: 0.2;
}
100% {
transform: scale(1.5);
opacity: 0;
}
}
@keyframes swirlyl1 {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(45deg);
}
}
@keyframes swirlyl2 {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(65deg);
}
}

@keyframes swirlyr1 {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(-15deg);
}
}

@keyframes swirlyr2 {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(-25deg);
}
}

@keyframes bgfader {
    0% {
    opacity: 1;
    }

    100% {
    opacity: 0;
    }
}

@keyframes kffadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Ootsukishi*/
.water {
animation: slightmove 2s alternate infinite;
}

.cloud {
animation: cloudmove1 15s alternate infinite;
}

.cloud2 {
animation: cloudmove2 10s alternate infinite;
}


@keyframes slightmove {
    0% {
        transform: rotate(0deg);
    }
    70% {
      opacity: 0.7;
      -webkit-filter: hue-rotate(90deg);
      filter: hue-rotate(90deg);
    }
    100% {
        transform: rotate(0.5deg);
    }
}


@keyframes cloudmove1 {
    50% {
      opacity: 0.7;
      transform: translate(-75px);
    }
    100% {
      transform: translate(25px);
    }
}

@keyframes cloudmove2 {
    0% {

    }
    70% {
      opacity: 0.7;
    }
    100% {
        transform: translate(30px);
    }
}

/* Shinjuku eki */

.line-anim g {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 10s linear forwards;
}

.long-stroke {
  /*stroke-dasharray: 12000;
  stroke-dashoffset: 12000;*/
  animation-name: dash, reveal;
  animation-duration: 15s, 10s;
  animation-delay: 0s, 3s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.line-anim path {
  animation: reveal 8s forwards;
  fill-opacity: 0;
  animation-delay: 3s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes reveal {
  70% {
  fill-opacity: 0.5;
  }
  100% {
  fill-opacity: 0.65;
  }
}

/* TAMACHI eki */
.main-bird-container {
	z-index: 100;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 28px;
  top: -85px;
  padding: 10px 0;

  @media (min-width: 600px) {
    top: -130px;
    padding: 20px 0;
  }
}


.bird {
	background-image: url("/img/content/trains/birdcells.svg");
	background-repeat: no-repeat;
	background-size: auto 100%;
	width: 53px;
	height: 28px;
	will-change: background-position;
	animation-name: fly-cycle;
	animation-duration: 0.6s;
	animation-delay: 0s;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
}

/* Animate the bird's fly cycle (in place) - step through cells */
@keyframes fly-cycle {
	100% {
		background-position: -536px 0;
	}
	
}

.bird-container {
	position: absolute;
	top: 0;
	left: 0; 
	will-change: transform;
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 3.2s;
	
}

.bird-container-2 {
	position: absolute;
	top: 10px;
	left: 0px; 
	will-change: transform;
	animation-name: fly-right-two;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 4s;
	
}


@keyframes fly-right-one {
	
	0% {
    transform: scale(0.3) translate(-20px, 0);
  }

  20% {
    transform: scale(0.35) translate(220%, -3px);
  }
  
  50% {
    transform: scale(0.5) translate(550%, 3px);
  }

  90% {
    transform: scale(0.55) translate(1050%, -3px);
  }

	100% {
    transform: scale(0.6) translate(1100%, 0px) ;
	}
}

@keyframes fly-right-two {
	
	0% {
		transform: scale(0.25) translate(0px, 30px);
  }
	100% {
		transform: scale(0.5) translate(2700%, -20px);
	}
	
}
