.logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8em;
    padding: 0.5em 1em;
    font-weight: 600;
}

.logo-start {
    font-weight: 100;
    font-size: 0.6em;
}

.menu {
    padding: 0.5em 1em;
    font-family: 'Josefin Sans', sans-serif;
}
