/* Fixed header and footer.
* --------------------------------------- */
#header {
    position:fixed;
    height: auto;
    display:flex;
    width: 100%;
    background: #333;
    z-index:9;
    text-align:center;
    color: #f2f2f2;
    justify-content: center;
    align-items: center;
    top:0px;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;

    @media (min-width: 600px) {
        justify-content: space-between;
    }
}

.logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8em;
    padding: 0.5em 1em;
    font-weight: 600;
    display:flex;
    align-items: center;
    justify-content:space-around;

    img {
        margin-right: 0.2em;
    }

    a {
        color: white;
        text-decoration: none;
    }
}

.menu {
    padding: 0.5em 1em;
    font-family: 'Josefin Sans', sans-serif;

    a {
        color: white;
        text-decoration-color: $pink;
        text-decoration-skip: ink;
        text-decoration: underline;
    }
}

.footer {
    background: #333;
    text-align:center;
    color: #f2f2f2;
    padding: 1em;
    font-size: 0.8em;
}



/* Illustrations */
.illustration-holder {
    width: 200px;
    margin:0 auto;

    @media (min-width: 600px) {
        width: 350px;
    }
}

.home-img {
    background-image: url('/img/home-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.btn {
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    font-weight: 800;
    background-color: #e1dddc;
    border: 2px solid #f7f7f7;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
    color: #333;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn:hover{
   background-color: $pink;
   border-radius: 30px;
}

.colour-content {
    min-height: 100vh;
    background-color: $pink;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}



.stampu-primary {
    h1 {
        font-size: 5em;
        font-weight: 600;
        color: $rosegold;
    }

    h2 {
        padding-top: 0;
        font-weight: 600;
        color: $darkgrey;
    }
}



/* grid ------------------------------------ */



.grid-wrapper {

  max-width: 940px;
  margin: 0 20px;
  padding-top: 3em;
  display: grid;
  grid-gap: 10px;
}

@media screen and (min-width: 600px) {

  /* no grid support? */
  .block-a, .block-b, .block-c {
    float: left;
    width: 19.1489%;
  }

  .grid-content {
    float: right;
    width: 79.7872%;
  }

  .grid-wrapper {
    margin: 0 auto;
    grid-template-columns: 3fr 5fr;
    grid-auto-rows: minmax(150px, auto);
  }

    .grid-footer {
        grid-column: 2 ;
        grid-row: 5;
        /* needed for the floated layout */
        clear: both;
        background-color: $greyblue;
    }

  .block-a {
    grid-column: 1;
    grid-row: 1;
    background-color: #e1dddc;
    border-radius: 15px;
  }

  .block-b {
    grid-column: 1;
    grid-row: 3;
    background-color: $greyblue;
    font-size: 1.2em;
    padding: 3em;
  }

  .block-c {
    grid-column: 1;
    grid-row: 4;
    background-color: #e1dddc;
  }

  .grid-content {
    grid-column: 2;
    grid-row: 1 / 5;
    background-color: #e1dddc;
  }

}

.grid-wrapper > * {
  color: #fff;
  border-radius: 15px;
  padding: 20px;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .grid-wrapper > * {
    width: auto;
    margin: 0;
  }
}
